<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

  <meta charset="utf-8" />
  <link href="/images/" rel="shortcut icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description"
        content="MyPLODS Airlines is the best carrier of Sri Lanka and a member of the Oneworld airline alliance. We are operating flights to 53 destinations in 28 countries. We are the only Sri Lankan airline to have been awarded a 5-star rating by Skytrax." />
  <meta name="keywords"
        content="airline reservation" />
  <meta name="author" content="MyPLODS" />
  <title>@{title}</title>
  <link rel="stylesheet" href="/css/app.css" />
  <meta charset="utf-8"/>

</head>
</html>